body {
    margin:0;
    padding:0;
    background-color: hsla(43, 93%, 16%, 0.5);
}

h1 {
    color: hsla(102, 86%, 17%, 0.90);
    border-bottom: 3px solid black;
    text-align:center;
    margin: 0;
    padding: 20px 0px; 
}

.calc {
    background-color: hsla(53, 100%, 50%, 0.4);
    width: 360px;
    height: 480px;
    box-sizing: border-box;
    margin: 40px auto;
    border-radius: 12px;
    border: 3px solid black;
}

#screen {
    height: 60px;
    width: 312px;
    background-color:lightgray;
    box-sizing: border-box;
    margin: 30px auto;
    border-radius:12px;
    border: 2px solid black;
    font-size: 40px;
    text-align: right;
    padding: 0 10px;
}

.btn {
    height: 60px;
    width: 60px;
    box-sizing:border-box;
    border-radius: 12px;
    border: 1px solid black;
    font-size: 40px;
    background-color: gray;
}

#buttons {
    display:flex;
    flex-wrap: wrap;
    row-gap:30px;
    column-gap: 24px;
    justify-content: center;
}

#clear {
    display:block;
    font-size:20px;
    padding: 8px 20px;
    border-radius:12px;
    margin: 0 auto;
}

.btn .digit {
    background-color: blue;
}